<!DOCTYPE HTML>
<html>
<head>
<title>感情色彩分析</title>

</head>
<body>
<form action='/sent' enctype="multipart/form-data" method='POST'>  
    <input name="file" type="file" />
    <input name="poc" type="radio" value="f" /> 分词
    <input name="poc" type="radio" value="s" /> 感情色彩分析
    <input name="poc" type="radio" value="g" /> 转换成GBK
    <input type="submit" value="Upload" />  
</form> 

</body>
</html>